<!--Author: Mohamed Alalwan 201601446-->
<html>
  <body
    style="
      text-align: center;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: #583010;
      background-color: #583010;
      padding: 5%;
    "
  >
    <div style="padding: 20px; background-color: wheat; border-radius: 20px">
      <h1>Your reservation is successful!</h1>
      <p>
        Thank you %username% for booking your event on our site, your
        reservation number is
        <strong>%reservationNum%</strong>.
      </p>
      <p>
        <strong>
          Event: %eventName%<br />
          Location: %location%<br />
          From: %startDate%<br />
          To: %endDate%<br />
          Total Booking Price: %checkoutTotal% BHD<br />
        </strong>
      </p>
      <p>
        For any clarification don't hesitate to contact us.<br /><br />orienteventorganizer@gmail.com<br /><br />
        <span style="font-size: 0.75em">
          ©2010-2022 Orient Event Organizer<br />
          Developed By: Mohamed Alalwan 201601446 </span
        ><br />
      </p>
    </div>
  </body>
</html>
